# OS garbage files
*.bak
*.swp
.DS_Store
/npm-debug.log*
package-lock.json

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# eclipse
.buildpath
.project
.settings

# Application Files Excluded
node_modules/
